<a href="https://colab.research.google.com/github/Catheria29/HomePricesPrediction/blob/main/HomePricesPrediction3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this section, some intermediate techniques to get better prediction are explored.

In [1]:
import kagglehub
import pandas as pd
import os #is used to import Operating system, is a built-in Python library that allows your code to interact with the operating system your script is running on (whether that's Linux in Google Colab, Windows on your laptop, or macOS)
path = kagglehub.dataset_download("dansbecker/melbourne-housing-snapshot")#is a folder
print("Files in folder:", os.listdir(path))#list all files in the folder
file_path = os.path.join(path, 'melb_data.csv')#simple operation to get the correct path to the file
data = pd.read_csv(file_path)#load the data as a dataframe
print(data.head())#prints the first five rows and the title of each column
data.describe()# gives statical description of the data

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/dansbecker/melbourne-housing-snapshot?dataset_version_number=5...

100%|██████████| 451k/451k [00:00<00:00, 25.9MB/s]

Extracting files...
Files in folder: ['melb_data.csv']

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [10]:
from sklearn.model_selection import train_test_split
y = data.Price
melb_predictors = data.drop(['Price'], axis = 1)
X = melb_predictors.select_dtypes(exclude = ['object'])
X_train, X_valid, y_train, y_valid = train_test_split(X, y,train_size = 0.8, test_size = 0.2, random_state = 0)

<bound method NDFrame.head of               Suburb           Address  Rooms Type Method   SellerG  \
0         Abbotsford      85 Turner St      2    h      S    Biggin
1         Abbotsford   25 Bloomburg St      2    h      S    Biggin
2         Abbotsford      5 Charles St      3    h     SP    Biggin
3         Abbotsford  40 Federation La      3    h     PI    Biggin
4         Abbotsford       55a Park St      4    h     VB    Nelson
...              ...               ...    ...  ...    ...       ...
13575  Wheelers Hill      12 Strada Cr      4    h      S     Barry
13576   Williamstown     77 Merrett Dr      3    h     SP  Williams
13577   Williamstown       83 Power St      3    h      S     Raine
13578   Williamstown      96 Verdon St      4    h     PI   Sweeney
13579     Yarraville        6 Agnes St      4    h     SP   Village

             Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
0       3/12/2016       2.5    3067.0       2.0       1.0  1.0     202.0
1       4/02/2016       2.5    3067.0       2.0       1.0  0.0     156.0
2       4/03/2017       2.5    3067.0       3.0       2.0  0.0     134.0
3       4/03/2017       2.5    3067.0       3.0       2.0  1.0      94.0
4       4/06/2016       2.5    3067.0       3.0       1.0  2.0     120.0
...           ...       ...       ...       ...       ...  ...       ...
13575  26/08/2017      16.7    3150.0       4.0       2.0  2.0     652.0
13576  26/08/2017       6.8    3016.0       3.0       2.0  2.0     333.0
13577  26/08/2017       6.8    3016.0       3.0       2.0  4.0     436.0
13578  26/08/2017       6.8    3016.0       4.0       1.0  5.0     866.0
13579  26/08/2017       6.3    3013.0       4.0       1.0  1.0     362.0

       BuildingArea  YearBuilt CouncilArea  Lattitude  Longtitude  \
0               NaN        NaN       Yarra  -37.79960   144.99840
1              79.0     1900.0       Yarra  -37.80790   144.99340
2             150.0     1900.0       Yarra  -37.80930   144.99440
3               NaN        NaN       Yarra  -37.79690   144.99690
4             142.0     2014.0       Yarra  -37.80720   144.99410
...             ...        ...         ...        ...         ...
13575           NaN     1981.0         NaN  -37.90562   145.16761
13576         133.0     1995.0         NaN  -37.85927   144.87904
13577           NaN     1997.0         NaN  -37.85274   144.88738
13578         157.0     1920.0         NaN  -37.85908   144.89299
13579         112.0     1920.0         NaN  -37.81188   144.88449

                       Regionname  Propertycount
0           Northern Metropolitan         4019.0
1           Northern Metropolitan         4019.0
2           Northern Metropolitan         4019.0
3           Northern Metropolitan         4019.0
4           Northern Metropolitan         4019.0
...                           ...            ...
13575  South-Eastern Metropolitan         7392.0
13576        Western Metropolitan         6380.0
13577        Western Metropolitan         6380.0
13578        Western Metropolitan         6380.0
13579        Western Metropolitan         6543.0

[13580 rows x 20 columns]>

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_dataset(X_train, X_valid, y_train, y_valid):
  model = RandomForestRegressor(n_estimators= 10, random_state = 0)
  model.fit(X_train, y_train)
  predics = model.predict(X_valid)
  return mean_absolute_error(y_valid, predics)

In this section the performance of the model with the approach of dropping the columns with missing values is been evaluated by calculating its Mean Absolute Error.

In [4]:
columns_with_missing = [col for col in X_train.columns if X_train[col].isnull().any()]
reduced_X_train = X_train.drop(columns_with_missing, axis = 1)
reduced_X_valid = X_valid.drop(columns_with_missing, axis = 1)
print("MAE from Approach 1 (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE from Approach 1 (Drop columns with missing values):
183550.22137772635

In this section the performance of the model with the approach of imputation is been evaluated by calculating its Mean Absolute Error.

In [5]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))
print("MAE from Approach 2 (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE from Approach 2 (Imputation):
178166.46269899711

In this section the performance of the model with the approach of extension to imputation is been evaluated by calculating its Mean Absolute Error.

In [9]:
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

for col in columns_with_missing:
  X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
  X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns
print("MAE from Approach 2 (an Extension to Imputation):")
print(score_dataset(imputed_X_train_plus,imputed_X_valid_plus, y_train, y_valid))

MAE from Approach 2 (an Extension to Imputation):
178927.503183954

In [6]:
print(X_train.shape)
missing_val_count_by_column = X_train.isnull().sum()#returns a list whose index is the column name and the value is the sum of trues(1s)
print(missing_val_count_by_column[missing_val_count_by_column > 0 ])

(10864, 12)
Car               49
BuildingArea    5156
YearBuilt       4307
dtype: int64

In [14]:
print(X_train.isnull())
print(X_train.isnull().sum())
print("\nthe number of missing values of rooms is: ",X_train.isnull().sum()['Rooms'])
print(X_train.head)

       Rooms  Distance  Postcode  Bedroom2  Bathroom    Car  Landsize  \
12167  False     False     False     False     False  False     False
6524   False     False     False     False     False  False     False
8413   False     False     False     False     False  False     False
2919   False     False     False     False     False  False     False
6043   False     False     False     False     False  False     False
...      ...       ...       ...       ...       ...    ...       ...
13123  False     False     False     False     False  False     False
3264   False     False     False     False     False  False     False
9845   False     False     False     False     False  False     False
10799  False     False     False     False     False  False     False
2732   False     False     False     False     False  False     False

       BuildingArea  YearBuilt  Lattitude  Longtitude  Propertycount
12167          True      False      False       False          False
6524           True       True      False       False          False
8413           True       True      False       False          False
2919           True      False      False       False          False
6043          False      False      False       False          False
...             ...        ...        ...         ...            ...
13123          True       True      False       False          False
3264          False      False      False       False          False
9845          False      False      False       False          False
10799          True       True      False       False          False
2732          False      False      False       False          False

[10864 rows x 12 columns]
Rooms               0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                49
Landsize            0
BuildingArea     5156
YearBuilt        4307
Lattitude           0
Longtitude          0
Propertycount       0
dtype: int64

the number of missing values of rooms is:  0
<bound method NDFrame.head of        Rooms  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
12167      1       5.0    3182.0       1.0       1.0  1.0       0.0
6524       2       8.0    3016.0       2.0       2.0  1.0     193.0
8413       3      12.6    3020.0       3.0       1.0  1.0     555.0
2919       3      13.0    3046.0       3.0       1.0  1.0     265.0
6043       3      13.3    3020.0       3.0       1.0  2.0     673.0
...      ...       ...       ...       ...       ...  ...       ...
13123      3       5.2    3056.0       3.0       1.0  2.0     212.0
3264       3      10.5    3081.0       3.0       1.0  1.0     748.0
9845       4       6.7    3058.0       4.0       2.0  2.0     441.0
10799      3      12.0    3073.0       3.0       1.0  1.0     606.0
2732       4       6.4    3011.0       4.0       2.0  1.0     319.0

       BuildingArea  YearBuilt  Lattitude  Longtitude  Propertycount
12167           NaN     1940.0  -37.85984   144.98670        13240.0
6524            NaN        NaN  -37.85800   144.90050         6380.0
8413            NaN        NaN  -37.79880   144.82200         3755.0
2919            NaN     1995.0  -37.70830   144.91580         8870.0
6043          673.0     1970.0  -37.76230   144.82720         4217.0
...             ...        ...        ...         ...            ...
13123           NaN        NaN  -37.77695   144.95785        11918.0
3264          101.0     1950.0  -37.74160   145.04810         2947.0
9845          255.0     2002.0  -37.73572   144.97256        11204.0
10799           NaN        NaN  -37.72057   145.02615        21650.0
2732          130.0     1915.0  -37.79430   144.88750         7570.0

[10864 rows x 12 columns]>

In [20]:
cols_is_missing_values = [col for col in X_train.isnull().any() ]
cols_with_missing_values = [col for col in X_train if X_train[col].isnull().sum() > 0]
print(cols_with_missing_values)

['Car', 'BuildingArea', 'YearBuilt']

In conclusion, three columns only has missing values and less than half of each columns entries are missing. i.e dropping each of this columnn will lead to the removal of a significant information, and this clearly affected the performance of our model (through MAE). In additional, the imputation method has the lowest MAE. Thus imputation performs better than dropping columns with missing values.